{% extends "posts/posts.base.html" %}
{% block title %}
    {% if is_edit %}
        Редактируем Пост
    {% else %}
        Новый пост
    {% endif %}
{% endblock title %}
{% block  action_url %}
    action = ''
    {% if is_edit %}
        {{ post_url }}>
    {% else %}
        {% url 'posts:post_create' %}>
    {% endif %}
{% endblock action_url %}
{% block card-header %}
    {% if is_edit %}
        Пост
    {% else %}
        Новый пост
    {% endif %}
{% endblock card-header %}
{% block button %}
    <div class="col-md-6 offset-md-4">
        <button type="submit" class="btn btn-primary">
            {% if is_edit %}
                Сохранить
            {% else %}
                Добавить
            {% endif %}
        </button>
    </div>
{% endblock button %}
